<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="/assets/css/hamburger.min.css"> -->
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		<script src="/assets/js/custom.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <?php if ($this->userIsLoggedIn()): ?>
                <div id="sidebar-wrapper">
                    <div class="sidebar-brand pt_15">
                        <img class="img-center" src="/assets/images/logo.png">
                    </div>
                    <ul class="sidebar-nav">
                        <li class="sidebar-item <?php echo in_array($matchedUri, ['/item/list', '/item/new']) ? 'active' : ''; ?>">
                            <a href="/item/list">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                Items
                            </a>
                        </li>
                        <li class="sidebar-item <?php echo in_array($matchedUri, ['/category/list', '/category/new']) ? 'active' : ''; ?>">
                            <a href="/category/list">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                Categories
                            </a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar navbar-oro navbar-default navbar-top">
                    <div class="container-fluid">
                        <div class="navbar-header pt_5">
                            <!-- <button id="menu-toggle" class="hamburger hamburger--spin menu-toggle-icon" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button> -->
                        </div>
                        <div class="navbar navbar-right">
                            <a href="/account/sign-out">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sign Out
                            </a>
                        </div>
                    </div>
                </nav>
            <?php endif; ?>
        	<?php echo $this->content(); ?>
        </div>
    </body>
</html>