<div class="page-info">
	<div class="column-50percent-left">
		<h3 class="">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Item List
        </h3>
	</div>
	<div class="column-50percent-right">
		<a href="/item/new" class="btn btn-add pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
	</div>
</div>

<div class="row">
	<table class="table">
        <thead>
            <tr>
                <th style="width:60px;">ID</th>
                <th>Item Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
        	<?php if (empty($this->items)): ?>
	            <tr>
	                <td class="bg-grey text-center regular-font" colspan="8">
	                    Your item list is currently empty, try adding a new item by clicking on this <a href="/item/new" class="signature-color">link</a>
	                </td>
	            </tr>
        	<?php endif; ?>
        	<?php foreach ($this->items as $item): ?>
	        	<tr>
	                <td><?php echo $item['id']; ?></td>
	                <td><?php echo $item['name']; ?></td>
	                <td><?php echo $item['stock']; ?></td>
	                <td><?php echo $item['price']; ?></td>
	                <td><?php echo $item['c_name']; ?></td>
	            </tr>
        	<?php endforeach; ?>
        </tbody>
    </table>
</div>